.tab-events-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--bg-card);
  color: #e0e0e0;
  overflow: hidden;

  .tab-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: var(--text-secondary);
  }

  .tab-error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #ff3b30;
  }
}

